@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  color: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  z-index: 1;
}
:root {
  --black: #121212;
  --lwhite: #979797;
  --white: #ffffff;
  --yellow: #ffe5b4;
  --blue: #00c0f1;
  --lblack: #2e2e2e;
  --lyellow: #fff461;
}
body {
  margin: 0;
  background-color: var(--black);
}
.container {
  position: relative;
  height: 1400px;
  width: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
}
/*Navigation Styling*/
.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 0;
  background-image: url("assests/General Images & Icons/background.svg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 5%;
  background-position-y: -170px;
  /* background-position-x: 100px */
}
.Nav .logo img {
  position: relative;
  width: 123px;
  height: 102px;
  left: -11px;
  top: 53px;
}
.Nav .Select {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Nav datalist,
.Nav input {
  position: relative;
  height: 40px;
  width: 254px;
  font-weight: 200;
  font-size: 40px;
  font-style: normal;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(131, 131, 131, 0.25);
  outline: none;
}
#time span.small {
  font-weight: 400;
  font-size: 25px;
  color: var(--yellow);
}
.Nav .Datetime {
  width: 250px;
  height: 129px;
  margin: 0;
  padding: 5px;
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 2fr;
  text-align: left;
}
.Datetime #time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 32px;
}
.Datetime #date {
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
}
.Select .Datetime #time img {
  height: 70px;
  width: 86px;
  margin: 0;
  padding: 0%;
}
.Select .Datetime #time span.bold {
  font-weight: bold;
  margin-bottom: 4%;
  color: var(--yellow);
}
.Nav .Hourly {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(11, 1fr);
  margin-top: 77px;
  width: 621px;
  height: 166px;
}
.Nav .Hourly label.cell {
  display: grid;
  text-align: center;
  grid-template-rows: 20% 20% 25% 30%;
}
.Nav .Hourly label img {
  width: 36.94px;
  height: 21.58px;
  filter: grayscale(100%);
}
.Nav .Hourly label div.time {
  font-style: normal;
  font-weight: 300;
  font-size: 19.2px;
  width: max-content;
}
.Nav .Hourly label div.chance {
  font-style: normal;
  font-weight: normal;
  font-size: 22.4px;
  line-height: 26px;
}

.Nav .Temp {
  width: 296.96px;
  height: 244px;
  display: grid;
  grid-template-columns: 40% 50%;
  margin-top: 30px;
  position: relative;
}
.Nav .Temp span.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Nav .Temp label.data {
  font-weight: bold;
  font-size: 40.45px;
}
.Nav .Temp span.cell label.head0 {
  font-size: 21px;
  font-weight: lighter;
  font-style: normal;
  line-height: 28.94px;
}
.Nav .Temp span#leftcell {
  border-right: 0.7px dashed var(--lwhite);
  margin-top: 10%;
  margin-bottom: 10%;
}

.mFrame {
  height: 1000px;
  width: 100%;
  top: -3%;
  position: relative;
  border-radius: 5px;
  border-radius: 46px 46px 0px 0px;
  background-color: var(--black);
}
.Frame {
  display: grid;
  grid-row: 1fr 6fr;
  padding-top: 3%;
}
.FFrame {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.FFrame .TFFrame {
  display: grid;
  grid-template-columns: 50% 50%;
  word-spacing: 5px;
}
.FFrame .TFFrame .wicons{
  width :100%;
  /* justify-content: space-evenly; */
}
.FFrame .TFFrame .icon{
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 3%;
}
.FFrame .head {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.FFrame .TFFrame span.border {
  justify-content: center;
  padding-bottom: 5px;
}
.FFrame .TFFrame img {
  width: 27px;
  height: 95%;
  
}
/* .FFrame .TFFrame .icon span.border{
border-bottom: 0px 2px solid var(--blue);
border-radius:1px;
} */
.FFrame .TFFrame .Displaytop {
  width: max-content;
  /* align-items: center; */
}
/* .FFrame .TFFrame img.sun {
  animation: rotate 20s linear 0s infinite;
} */
.FFrame .TFFrame hr {
  width: 25px;
  height: 2px;
  margin-left: 0;
  border-radius: 70px;
  background: var(--blue);
}
.FFrame .TFFrame input {
  width: 37px;
  height: 17px;
  background-color: var(--lblack);
  outline: none;
  text-align: center;
}
.SFrame {
  margin-top: 2%;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
}
.SFrame .slide {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  column-gap: 3%;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  justify-content:flex-start
}
.SFrame .slide::-webkit-scrollbar {
  display: none;
}
.SFrame button {
  border-radius: 50%;
  background-image: url("assests/General Images & Icons/arrowUp.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  font-size: 10px;
  border: none;
  width: 40px;
  height: 53px;
  transform: rotateZ(270deg);
}
.SFrame span.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.SFrame button.bbtn {
  transform: rotatez(90deg);
}
.SFrame button:hover {
  transform: rotateZ(270deg) scale3d(1.2, 1.2, 1.2);
  box-shadow: var(--lwhite) 1px;
}
.SFrame button.bbtn:hover {
  transform: rotatez(90deg) scale3d(1.2, 1.2, 1.2);
  box-shadow: var(--lwhite) 1px;
}
.SFrame .box {
  height: 261px;
  width: 250px;
  display: grid;
  padding: 10px;
  grid-template-rows: 2fr repeat(4, 1fr) 1fr;
  border-radius: 5.04px;
  background-color: #181818;
  background-image: url("assests/Icons for cities/newyork.svg");
  background-size: 240px;
  background-repeat: no-repeat;
  background-position-x: 80px;
  background-position-y: 80px;
  font-weight: 500;
  box-shadow: #2e2e2e 4px 4px 2px 2px;
  
}
.SFrame .box .place {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 125px 125px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
}

.SFrame .box .place img {
  height: 24px;
  width: 24px;
  animation: rotate 20s linear 0s infinite;
}
.SFrame .box .place img#rainy {
  animation: rotateY 5s linear 0s infinite;
}
.SFrame .box .prediction1,
.SFrame .box .prediction2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start space-evenly;
}
.SFrame .box .prediction1 .data,
.SFrame .box .prediction2 .data {
  margin-left: 5px;
}
.SFrame .box .time,
.SFrame .box .day {
  font-size: 17.45px;
  font-weight: bold;
}
.SFrame .box .place span.pla {
  font-size: 24px;
  text-align: left;
}
.SFrame .box .prediction1,
.SFrame .box .prediction2 {
  font-size: 16px;
}
.GFrame {
  height: 100%;
  padding: 3%;
}
.GFrame .heading {
  display: grid;
  width: 95%;
  grid-template-columns: 5fr 3fr;
}
.GFrame .heading .head1 {
  display: grid;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  text-align: left;
  padding-left: 7.5%;
}
.GFrame .heading .head2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
}
.GFrame .heading .head2 .cn {
  width:max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}
.GFrame .heading .head2 .cn img {
  height: 20px;
  width: 25px;
}
.GFrame .heading .head2 .cn:hover,.FFrame .TFFrame img:hover{
  cursor: pointer;
}
.continental {
  height: 70%;
  width: 90%;
  margin-top: 5%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sbox {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 15%;
  width: 30%;
  font-weight: normal;
  font-size: 20px;
  background-color: var(--lblack);
  box-shadow: #555454 2px 2px 1px 1px;
}
.sbox .row1 .col-2 {
  font-weight: 500;
}
.sbox .row1,
.sbox .row2 {
  display: grid;
  padding: 7px;
  grid-template-columns: 1fr 1fr;
}
.sbox .row1 .conti {
  color: var(--lyellow);
}
.sbox .row1 .temp {
  font-weight: 500;
  font-size: 28px;
}
.sbox #col-2 {
  text-align: right;
}
.sbox img {
  animation: rotateY 5s linear 0s infinite;
}
.SFrame .slide .box:hover {
  box-shadow: var(--lwhite) 2px 2px 2px 2px;
  transform: scale3d(1.01, 1.01, 1.1);
}
.continental .sbox .row2 .place {
  width: max-content;
}
.sbox:hover {
  box-shadow: var(--lwhite) 2px 2px 2px 2px;
  transform: scale3d(1.01, 1.01, 1.01);
}
@media only screen and (max-width: 1300px){
  .Nav{
    background-position-y: -100px;
  }
}
@media only screen and (max-width: 1100px) {
  .Nav {
    position: relative;
    display: flex;
    height: 890px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 9%;
    background-position-y: -70px;
  }
  .Nav .Select,
  .Nav .Temp,
  .Nav .Datetime {
    justify-content: center;
  }
  .Nav .logo img {
    position: relative;
    width: 123px;
    height: 102px;
    margin-left: 0;
    top: 5px;
  }
  .Nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mFrame {
    height: max-content;
    width: 100%;
    top: -12%;
    border-radius: 20px;
  }
  .Nav #sel {
    top: 5px;
  }
  .Nav .Temp {
    margin-top: 0px;
  }
  .Nav .Hourly {
    top: -85px;
    width: 480px;
  }
  .SFrame .slide {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }
  .SFrame .slide::-webkit-scrollbar {
    display: none;
  }
  .SFrame .box .place {
    grid-template-columns: 125px 125px;
  }
  .FFrame {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .FFrame .TFFrame {
    justify-items: flex-end;
  }
  .FFrame .TFFrame img {
    width: 27px;
    height: 95%;
  }
  .FFrame .TFFrame hr {
    width: 17%;
    margin-left: 2px;
  }
  .SFrame .box {
    width: 250px;
    margin: 10px;
  }
  .continental .sbox {
    width: 48%;
    margin-bottom: 5px;
    align-items: center;
  }
  .continental {
    height: auto;
  }
  .SFrame {
    width: 90%;
  }
  .GFrame .heading .head2 {
    column-gap: 3%;
  }
  .GFrame .heading .head2 .cn{
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .Nav {
    position: relative;
    display: flex;
    height: 910px;
    padding-bottom: 15%;
    flex-direction: column;
    align-content: space-around;
  }
  .Nav .Select,
  .Nav .Temp,
  .Nav .Datetime {
    justify-content: center;
  }
  .Nav .logo img {
    position: relative;
    width: 123px;
    height: 102px;
    top: 5px;
  }
  .mFrame {
    height: auto;
    width: 100%;
    top: -15%;
  }
  .Nav .Datetime {
    top: -3%;
    margin-left: 30%;
  }
  .Nav #sel {
    margin-left: 25%;
  }
  .Nav .Temp {
    top: -4%;
    margin-top: 0px;
    margin-left: 20%;
  }
  .Nav .Hourly {
    top: -15%;
    width: 90%;
  }
  .FFrame {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  .FFrame .head {
    margin-left: 0px;
  }
  .FFrame .TFFrame img {
    width: 27px;
    /* width: 32px; */
    height: 32px;
  }
  .FFrame .TFFrame hr {
    width: 15%;
    margin-left: 5%;
  }
  .SFrame {
    width: 90%;
  }
  .SFrame .slide {
    width: 100%;
    display: flex;
    height: auto;
    flex: 1;
    overflow-x: scroll;
  }
  .SFrame .box {
    width: 100%;
  }
  .continental .sbox {
    width: 70%;
    margin-bottom: 5px;
  }
  .continental {
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
  .GFrame .heading .head2 {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    flex-wrap: wrap;
  }
  .Nav .Datetime {
    top: -3%;
    margin-left: 15%;
  }
  .Nav #sel {
    width: 60%;
    margin-left: 15%;
  }
  .Nav .Temp {
    height: 25%;
    width: 100%;
    top: -4%;
    margin-top: 0px;
    margin-left: 2%;
  }
  .Nav .Hourly {
    top: -14%;
    margin-left: 5%;
  }
}
/* @media only screen and (max-width: 500px) {
  .Nav {
    position: relative;
    display: flex;
    height: 910px;
    padding-bottom: 15%;
    flex-direction: column;
    align-content: space-around;
  }
  .Nav .Select,
  .Nav .Temp,
  .Nav .Datetime,.Nav .logo img  {left :-10%
    justify-content: center;
  }
  .Nav .logo img {
    position: relative;
    width: 123px;
    height: 102px;
    top: 5px;
  }
  .mFrame {
    height: auto;
    width: 100%;
    top: -15%;
  }
  .Nav .Datetime {
    
  }
  .Nav #sel {
    
  }
  .Nav .Temp {
    margin-top: 0px;
  }
  .Nav .Hourly {
    top: -95px;
    width: 90%;
  }
  .FFrame {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }
  .FFrame .head {
    margin-left: 0px;
  }
  .FFrame .TFFrame img {
   
    height: 32px;
  }
  .FFrame .TFFrame hr {
    width: 15%;
    margin-left: 5%;
  }
  .SFrame {
    width: 90%;
  }
  .SFrame .slide {
    width: 100%;
    display: flex;
    height: auto;
    flex: 1;
    overflow-x: scroll;
  }
  .SFrame .box {
    width: 100%;
  }
  .continental .sbox {
    width: 70%;
    margin-bottom: 5px;
  }
  .continental {
    height: auto;
  }
} */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
