body{
    margin: 0;
    background-color: #121212;
    
}
.container{
    position: relative;
    height: 60em;
    width: auto;
    
}
.Nav{
    
    height: 400px;
    width:100%;
    position:absolute;
    z-index: -1;
    background-image: url("General Images & Icons/background.svg");
}
.Nav .logo{
    position: absolute;
    width: 123px;
    height: 102px;
    top: 53px;
    left: -12px;
}
.mframe{  
    height: 50em;
    top: 350px;
    position: relative;
    border-radius: 5em;
    z-index: 10;   
    color:white;
    border-radius: 46px 46px 0px 0px;
    background-color:#121212;
}